<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.product_name }}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <header>
        <div class="navbar">
            <button class="brand-button" onclick="window.location.href='/'">Marketplace</button>
            <div class="auth-buttons">
                {% if current_user.is_authenticated %}
                <button id="create-listing" onclick="window.location.href='/addlisting';">Add Listing +</button>
                <div class="dropdown">
                    <button class="dropbtn">{{current_user.username}}</button>
                    <div class="dropdown-content">
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                        <a href="#">Link 4</a>
                        <a href="#">Link 5</a>
                        <a onclick="window.location.href='/logout';">Logout</a>
                    </div>
                </div>
                {% endif %}
                {% if not current_user.is_authenticated %}
        
                <button id="sign-up" onclick="window.location.href='/signup';">Sign Up</button>
                <button id="sign-in" onclick="window.location.href='/login';">Sign In</button>
                {% endif %}
                </div>
        </div>
    </header>

    <div class="product-details">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert-{{category}}" id="div_flash">
        {{ message }}
        <button class="flashbut" type="button" onclick="removeFlash()">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
        <div class="product-image">
            <img src="{{ product.image_url }}" alt="{{ product.product_name }}" onerror="this.src='/static/images.png'">
        </div>
        <div class="product-info">
            <h2>{{ product.product_name }}</h2>
            <p>Seller: {{product.username}}</p>
            

            <div class="price-container">
                <!-- Selling Price Container -->
                <div class="price-box sell-price">
                    {% if product.sell_price %}
                        <p>Buying Price: ₹{{ product.sell_price }}</p>
                    {% else %}
                        <p>Buying not available</p>
                    {% endif %}
                </div>
                
                <!-- Renting Price Container -->
                <div class="price-box rent-price">
                    
                    {% if product.rent_price %}
                        <p>Renting Price: ₹{{ product.rent_price }}</p>
                        <p>Duration: {{ product.rent_duration }} days</p>
                    {% else %}
                        <p>Renting not available</p>
                    {% endif %}
                </div>
            </div>

        <h3>Product Details:</h3>
        <p>{{ product.description }}</p>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>
