<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIT Marketplace</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <header>
        <div class="navbar">

            <button class="brand-button">Marketplace</button>
            <div class="auth-buttons">
                <button id="sign-up" onclick="window.location.href='/signup';">Sign Up</button>
                <button id="sign-in" onclick="window.location.href='/signin';">Sign In</button>
            </div>
        </div>
    </header>

    <div class="products">
        <h2>Product Listings</h2>
        <div id="product-grid" class="product-grid"></div> <!-- Product listings go here -->
    </div>


    <script src="/static/app.js"></script>
</body>
</html>
